

.offers-images{
    background-image: url("https://i.ibb.co.com/8g15Hm6T/pexels-picsfast-8753672.jpg");
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
    background-position: center center;
    object-fit: cover;
}